In [12]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mohit@6565",
    database="school_mgmt"
)

cursor = db.cursor()
print("Connected Successfully!")

Connected Successfully!

In [13]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mohit@6565",
    database="school_mgmt"
)

cursor = db.cursor()

print("Connected Successfully!")

Connected Successfully!

In [16]:
from faker import Faker
import mysql.connector
import random

fake = Faker("en_IN")   # India-specific faker

cursor = db.cursor()

# Delete old data (optional, if needed)
cursor.execute("DELETE FROM students;")
cursor.execute("ALTER TABLE students AUTO_INCREMENT = 1;")
db.commit()

for i in range(3000):
    name = fake.name()

    # DOB (Indian school age: 5–20)
    dob = fake.date_of_birth(minimum_age=5, maximum_age=20)

    gender = random.choice(["Male", "Female"])

    # Indian address without newlines
    address = fake.address().replace("\n", ", ")

    # Indian phone number: +91 XXXXX XXXXX
    phone = "+91 " + str(fake.random_int(min=6000000000, max=9999999999))

    query = """
    INSERT INTO students (name, dob, gender, address, phone)
    VALUES (%s, %s, %s, %s, %s)
    """

    values = (name, dob, gender, address, phone)

    cursor.execute(query, values)

db.commit()

print("Inserted 3000 INDIAN students successfully!")

Inserted 3000 INDIAN students successfully!

In [17]:
from faker import Faker
import random

fake = Faker("en_IN")

cursor = db.cursor()

# OPTIONAL: Clean previous teacher data
cursor.execute("DELETE FROM teachers;")
cursor.execute("ALTER TABLE teachers AUTO_INCREMENT = 1;")
db.commit()

subjects = [
    "Mathematics", "Physics", "Chemistry", "Biology",
    "English", "Hindi", "Computer Science",
    "Economics", "Geography", "History"
]

for i in range(100):   # Insert 100 teachers
    name = fake.name()

    specialization = random.choice(subjects)

    # Indian phone number
    phone = "+91 " + str(fake.random_int(min=7000000000, max=9999999999))

    # Random hire date in last 10 years
    hire_date = fake.date_between(start_date='-10y', end_date='today')

    query = """
    INSERT INTO teachers (name, subject_specialization, phone, hire_date)
    VALUES (%s, %s, %s, %s)
    """

    values = (name, specialization, phone, hire_date)

    cursor.execute(query, values)

db.commit()

print("Inserted 100 Indian teachers successfully!")

Inserted 100 Indian teachers successfully!

In [18]:
cursor = db.cursor()

# OPTIONAL: Clean old class data
cursor.execute("DELETE FROM classes;")
cursor.execute("ALTER TABLE classes AUTO_INCREMENT = 1;")
db.commit()

grades = range(1, 13)  # 1 to 12
sections = ["A", "B"]

for grade in grades:
    for section in sections:
        query = """
        INSERT INTO classes (grade, section)
        VALUES (%s, %s)
        """
        cursor.execute(query, (grade, section))

db.commit()

print("Inserted 24 classes (1A–12B) successfully!")

Inserted 24 classes (1A–12B) successfully!

In [19]:
from faker import Faker
import random
from datetime import date

fake = Faker("en_IN")

cursor = db.cursor()

# OPTIONAL: Clean existing enrollments
cursor.execute("DELETE FROM enrollments;")
cursor.execute("ALTER TABLE enrollments AUTO_INCREMENT = 1;")
db.commit()

# there are 24 classes from class_id = 1 to 24
for student_id in range(1, 3001):
    class_id = random.randint(1, 24)
    enrollment_date = fake.date_between(start_date='-3y', end_date='today')

    query = """
    INSERT INTO enrollments (student_id, class_id, enrollment_date)
    VALUES (%s, %s, %s)
    """

    values = (student_id, class_id, enrollment_date)
    cursor.execute(query, values)

db.commit()

print("Enrolled 3000 students into classes successfully!")

Enrolled 3000 students into classes successfully!

In [20]:
import random

cursor = db.cursor()

# OPTIONAL: clean the table
cursor.execute("DELETE FROM subjects;")
cursor.execute("ALTER TABLE subjects AUTO_INCREMENT = 1;")
db.commit()

subjects = [
    "Mathematics", "English", "Hindi", "Science", "Social Science",
    "Computer Science", "Physics", "Chemistry", "Biology",
    "Economics", "Geography", "History"
]

for subject in subjects:
    teacher_id = random.randint(1, 100)  # randomly assign a teacher

    query = """
    INSERT INTO subjects (subject_name, teacher_id)
    VALUES (%s, %s)
    """
    cursor.execute(query, (subject, teacher_id))

db.commit()

print("Inserted 12 subjects successfully and assigned teachers!")

Inserted 12 subjects successfully and assigned teachers!

In [21]:
from faker import Faker
from datetime import datetime, timedelta
import random

fake = Faker("en_IN")
cursor = db.cursor()

# OPTIONAL: Clean previous attendance
cursor.execute("DELETE FROM attendance;")
cursor.execute("ALTER TABLE attendance AUTO_INCREMENT = 1;")
db.commit()

# Get student → class mapping
cursor.execute("SELECT student_id, class_id FROM enrollments;")
enrollments = cursor.fetchall()

# Define 3-month period
end_date = datetime.today()
start_date = end_date - timedelta(days=90)

current_date = start_date

total_records = 0

print("Generating attendance...")

while current_date <= end_date:
    for student_id, class_id in enrollments:

        status = random.choices(
            ["Present", "Absent"], 
            weights=[85, 15],  # 85% present
            k=1
        )[0]

        query = """
        INSERT INTO attendance (student_id, class_id, date, status)
        VALUES (%s, %s, %s, %s)
        """

        cursor.execute(query, (student_id, class_id, current_date.date(), status))
        total_records += 1

    db.commit()
    current_date += timedelta(days=1)

print(f"Inserted {total_records} attendance records successfully!")

Generating attendance...
Inserted 273000 attendance records successfully!

In [22]:
import mysql.connector
import random
from datetime import datetime, timedelta

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mohit@6565",
    database="school_mgmt"
)

cursor = db.cursor()

# Get all student IDs
cursor.execute("SELECT student_id FROM students")
students = [row[0] for row in cursor.fetchall()]

# Get all subject IDs
cursor.execute("SELECT subject_id FROM subjects")
subjects = [row[0] for row in cursor.fetchall()]

exam_types = ["Mid-Term", "Final"]
start_date = datetime(2024, 3, 1)

count = 0

for student in students:
    for subject in subjects:
        for exam in exam_types:
            
            marks = random.randint(30, 100)  # realistic range
            exam_date = start_date + timedelta(days=random.randint(0, 60))

            query = """
            INSERT INTO marks (student_id, subject_id, exam_type, marks_obtained, exam_date)
            VALUES (%s, %s, %s, %s, %s)
            """
            values = (student, subject, exam, marks, exam_date)
            cursor.execute(query, values)
            count += 1

db.commit()
print(f"Inserted {count} marks records successfully!")

Inserted 72000 marks records successfully!

In [23]:
import mysql.connector
import random
from datetime import datetime, timedelta

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mohit@6565",
    database="school_mgmt"
)

cursor = db.cursor()

cursor.execute("SELECT student_id FROM students")
students = [row[0] for row in cursor.fetchall()]

count = 0

for student in students:

    amount = 30000  # annual fee
    status = random.choice(["Paid", "Pending"])

    # If paid, generate date between April 1 – June 30
    if status == "Paid":
        start = datetime(2024, 4, 1)
        paid_on = start + timedelta(days=random.randint(0, 90))
    else:
        paid_on = None  # not paid

    query = """
    INSERT INTO fees (student_id, amount, paid_on, status)
    VALUES (%s, %s, %s, %s)
    """

    cursor.execute(query, (student, amount, paid_on, status))
    count += 1

db.commit()
print(f"Inserted {count} fee records successfully!")

Inserted 3000 fee records successfully!

In [1]:
from db_connection import get_connection

db = get_connection()
cursor = db.cursor(dictionary=True)

In [2]:
from db_connection import get_connection

db = get_connection()
cursor = db.cursor()

cursor.execute("SELECT COUNT(*) FROM students;")
print(cursor.fetchone())

(3000,)